.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
  background: #0c2c4e;
}

.signup-box {
  background: white;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 350px;
  animation: fadeIn 0.5s ease-in-out;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: 1px solid rgb(197, 197, 226);
}

input.invalid-password {
  border: 2px solid red;
  box-shadow: 0 0 5px red;
  outline: none;
}

input.valid-password {
  border: 2px solid green;
  box-shadow: 0 0 5px green;
  outline: none;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background: #0c2c4e;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  font-weight: bold;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-left: 5px;
}

.checkbox-group input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  outline: none;
}

.checkbox-group label {
  font-size: 14px;
  color: #444;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  margin-left: 5px;
}

.checkbox-container input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  outline: none;
}

.checkbox-container label {
  font-size: 14px;
  color: #444;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
