/* toast container */
.Toastify__toast-container {
  width: 550px !important;
}

/* individual toast */
.Toastify__toast {
  min-height: 60px !important;
  width: 400px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  background-color: #1a1a2e !important;
  color: #f8f8f8 !important;
  font-size: 16px !important;
  padding: 16px !important;
}

/* optional: icon style */
.Toastify__toast-icon {
  color: #f8f8f8 !important;
}
